<div class="course-card">
    <span id="margin1"></span>
    <span id="margin2"></span>
    <span id="margin3"></span>
    <span id="margin4"></span>
    <!-- <div class="course-title">
        {{ course.description }}
    </div> -->
    <img width="300" alt="Angular Logo"
        [src]="course.iconUrl">

    <!-- <div class="course-description">
        {{ course.longDescription}}
    </div> -->
    <br>

    <div class="course-button">
        <a href="#" (click)="onCourseViewed()">
            <span id="border1"></span>
            <span id="border2"></span>
            <span id="border3"></span>
            <span id="border4"></span>
            <b>View Course</b> 
        </a>
    </div>

    <!-- <button (click)="onCourseViewed()">View Course</button> -->

</div>